body{
	font-family: 'Noto Sans', sans-serif;
	background-color: #e6e6e6;
}
h2{
	text-align: center;
	font-size: 30px;
	color: #cc00cc;
}
#trivia{
	text-align: center;
}
#button{
	clear:both;
}
h1{
	font-size: 100px;
	text-align: center;
	font-weight: bold;
}
p{
	font-size: 25px;
	color:blue;
}
#afterCheck {
	visibility: hidden;
	font-size: 100px;
	text-align: center;
	color: #cc00cc;
}